<!-- views/cart.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h2>
        <%= title %>
    </h2>

    <% if (shoppingCart.length> 0) { %>
        <ul>
            <% shoppingCart.forEach((item, index)=> { %>
                <li>
                    <%= item %>
                        <!-- Додамо кнопку для видалення товару з корзини -->
                        <form action="/remove-from-cart" method="post" style="display: inline;">
                            <input type="hidden" name="index" value="<%= index %>">
                            <button type="submit">Видалити</button>
                        </form>
                </li>
                <% }); %>
        </ul>
        <% } else { %>
            <p>Корзина порожня.</p>
            <% } %>

                <a href="/">Повернутися на головну</a>
</body>

</html>